*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --primary-color: #df4adf;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 70vw;
    height: 88vh;
    background: white;
    border: 15px;
    border-radius: 30px;
    box-shadow: 
    0 4px 20px 0 rgba(0,0, 0, .3),
    0 6px 20px 0 rgba(0,0, 0,.1);
    overflow: hidden;
}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,var(--primary-color),#5f0b5f);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}
.singin-singup{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 238px;
    padding: 0 10px;

}
form.sign-in-form{
    opacity: 1;
    transition: .5s ease-in-out;
    transition-delay: 1;
}
form.sign-up-form{
    opacity: 0;
    transition: .5s ease-in-out;
    transition-delay: 1;
}
form.eset-password-form{
    transition: .5s ease-in-out;
    transition-delay: 1;
}
.title{
    font-size: 35px;
    color: var();
    margin-bottom: 10px;
}
.input-field{
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    display: flex;
    align-items: center;

}
.input-field i{
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.btn{
    width: 150px;
    height: 50px;
    border: none ;
    border-radius: 50px;
    background:var(--primary-color);
    color: white;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover{
    filter: brightness(80%);
}
.social-text{
    margin: 10px 0;
    font-size: 16px;
}   
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.social-media__icon{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    text-decoration: none ;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}
.social-media__icon:hover {
   opacity: .7;
}

/* controller */
.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: none;
}
.panel{
    z-index: 6;
    
    width: 100%;
    height: 100%;
    padding: 0 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s ease;
}
.content{
    color: white;
    transition: .7s ease-in-out;
    transition-delay: .1s;
}
.panel h3{
    font-size: 30px;
    font-weight: 600;
}
.panel p{
    font-size: 18px;
    padding: 0 10px;
}

.left-panel .content{
transform: translateX(-200%);
}

.right-panel .content{
transform: translateX(0);
}
.left-panel{
    pointer-events: none;
 }
 .right-panel{
     pointer-events: auto;
  }
/* !Animation */
.container.sign-up--mode::before{
    transform: translateX(0);
}
.container.sign-up--mode .right-panel .content{
    transform: translateX(200%);
}
.container.sign-up--mode .left-panel .content{
    transform: translateX(0);
}

.container.sign-up--mode form.sign-in-form{ 
    opacity: 0;
}
.container.sign-up--mode form.sign-up-form{ 
    opacity: 1;
}
.container.sign-up--mode .right-panel{ 
    pointer-events: none;
}
.container.sign-up--mode .left-panel{ 
    pointer-events: all;
}


/* *Toast Message */

#toast{
    position: fixed;
    top:32px;
    right: 32px;
    z-index: 6;
    
}
.toast{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    border-left: 4px solid black ;
    box-shadow: 0px 5px 9px gray;
    max-width: 350px;
    min-width: 350px;
    transition: all linear .3s;
    
}
@keyframes slideInLeft {
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px)) ;
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to{
        opacity: 0;
    }
}
.toast+.toast{
    margin-top: 20px;
}
.toast__icon{
    font-size: 24px;
}
.toast__body{
    flex-grow: 1;
}
.toast__icon,
.toast__body{
    padding: 0 15px;
}
.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.toast__msg{
    margin-bottom: 7px;
    margin-top: 3px;
}
.toast__close{
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
}
.toast__close:hover{
    opacity: 0.7;
}
.toast--success{
    border-color: rgb(143, 222, 23);
}
.toast--infor{
    border-color: rgb(34, 34, 217);
}
.toast--warning{
    border-color: rgb(232, 176, 72);
}
.toast--error{
    border-color: red;
}
